body { 
    background-image: url('../images/milenium-falcon.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    overflow-x: hidden; 
  }

  .title {
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      font-weight: bold;
  }

.card {
    max-width: 12rem;
    max-height: 12rem;
    border: 2px solid gray;
    box-shadow: 0 0 20px black;
}

.card img {
    width: 100%;
}

